//
//  Uat.xcconfig
//  SwiftUIDemo
//
//  Created by グェン ディン ズォン on 2020/07/21.
//  Copyright © 2020 NDBlack. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_URL_SCHEME = uatswiftuidemo
APP_PRODUCT_NAME = UATSwiftUIDemo

APP_FIREBASE_CONFIG_FILE = GoogleService-Info-UAT
APP_API_PUBLIC_KEY =
APP_API_PRIVATE_KEY =
APP_API_HOST = https:/$()/fierce-wildwood-34886.herokuapp.com
